.gridBox {
    /*  background-color: #fffffe; */
    background-color: #ffffffbb;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.basic-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-bottom: 1.5rem;
}
.gridBox2 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 20px;
    overflow: hidden;
    user-select: none;
}
.gridBoxHello {
    background-color: #fffffe;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.gridBox-hello {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--laranja);
    padding: 1.5rem 0rem 0rem 3rem;
}
.gridBox-horas {
    font-size: 6rem;
    font-weight: bold;
    color: var(--laranja);
    margin: auto;
}
.gridBox-data {
    font-size: 2rem;
    font-weight: bold;
    color: var(--laranja);
    margin: auto;
}

.gridBox-text {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--escuro);
    padding-bottom: 0.5rem;
    justify-content: center;
    display: flex;
}

.gridBox-subtext {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fefffe;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.iconValor {
    display: flex;
    flex: 1; /* Take up remaining vertical space */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    align-self: center;
    gap: 1.5rem;
}
.iconValorLeft {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconValorLeft img {
    width: 6rem;
}
.iconValorRight {
    width: 60%;
    margin: auto;
    justify-content: center;
    display: flex;
    font-size: 3rem;
    color: var(--escuro);
}

.navbody {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.nav {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding: 0 20px;
    background-color: #ffffffbb;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 20px;
}

.nav button {
    background-color: ffffffbb;
    border: none;
    align-items: center;
}

.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    display: flex;
    gap: 1rem;

    &:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #dfe2ea;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: 0.3s;
    }
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
    cursor: pointer;
}

.nav-item:not(.is-active):hover {
    color: #333;
    cursor: pointer;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
    .nav {
        overflow: auto;
    }
}

@media (max-width: 580px) {
    .nav {
        overflow: auto;
    }
}

@media screen and (min-width: 769px) {
    .card-tall {
        grid-row: span 2 / auto;
    }
    .card-wide2 {
        grid-column: span 2 / auto;
    }
    .card-wide3 {
        grid-column: span 3 / auto;
    }
    .card-wide4 {
        grid-column: span 4 / auto;
    }
    .card-wide5 {
        grid-column: span 5 / auto;
    }
    .card-wide6 {
        grid-column: span 6 / auto;
    }
    .navDivisoes {
        grid-column: span 6 / auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .basic-grid {
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .motoresTable th {
        font-size: 0.8rem;
    }
    .gridBox-text {
        font-size: 1rem;
    }
}

.rw-container-right {
    background-color: #ffffff00 !important;
    width: 30% !important;
}

.rw-container-left {
    width: 70% !important;
}

.rw-container-header {
    font-weight: bold !important;
}

.rw-today {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-items: center !important;
}
.rw-today-hr {
    display: none;
}
.rw-today-date {
    display: none;
}
.rw-today-range {
    display: none;
}

.rw-today-current {
    width: 100% !important;
}
.rw-today-desc {
    width: 100% !important;
    font-size: 1rem !important;
}
.rw-today-info {
    width: 100% !important;
    font-size: 1rem !important;
}
