.home-section {
    position: relative;
    top: 5rem;
    left: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgb(111, 111, 111);
}

.navbar-nome-celula {
    font-size: 2.5em;
}

.navbar-left {
    height: 5rem;
    padding-left: 2rem;
    width: max-content;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.titulo {
    font-size: 3rem;
    margin: auto;
    color: var(--escuro);
}

.navbar-right {
    height: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 2rem;
    width: max-content;
    display: flex;
    align-items: center;
}

.avatar-upload2 .avatar-preview {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 100%;
    border: thin solid #f8f8f8;
}

.avatar-upload2 .avatar-preview div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-UserName {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.name-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--escuro);
    text-decoration: none;
}

.name-icon:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.4s ease-in-out;
    color: var(--azul);
}

.logo-img {
    height: 40px;
}

@media only screen and (max-width: 900px) {
    .search-all {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .home-section {
        padding-bottom: 5rem;
    }
    .navbar-right {
        height: 5rem;
    }
    .titulo {
        font-size: 2.5rem;
    }
    .navbar-UserName {
        display: none;
    }
    .search-all {
        display: none;
    }
    .navbar-help {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .home-section {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
}
@media only screen and (max-width: 320px) {
    .home-section {
        padding-bottom: 5rem;
    }
    .navbar-right {
        height: 3rem;
    }
    .navbar-UserName {
        display: none;
    }
    .search-all {
        display: none;
    }
    .navbar-help {
        display: none;
    }
    .logo-img {
        height: 30px;
    }
    .Breadcrumbs {
        font-size: 2rem;
    }
}
