:root {
    --claro: #8ecae6;
    --azul: #219ebc;
    --escuro: #2B8750;
    --verde: #B6D936;
    --laranja: #F2D377;
}

body {
  margin: 0;
  font-family: Sans-serif;
}

a {
  text-decoration: none;
  color: var(--escuro);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--laranja);
}
a:active {
  text-decoration: underline;
}
