:root {
    --claro: #8ecae6;
    --azul: #219ebc;
    --escuro: #023047;
    --amarelo: #ffb703;
    --laranja: #fb8500;
}

body {
  margin: 0;
  font-family: Sans-serif;
}

a {
  text-decoration: none;
  color: var(--escuro);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--azul);
}
a:active {
  text-decoration: underline;
}
